@model ViewModels.AttendExamViewModel

@{
    ViewData["Title"] = "AttendExam";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}

<h3>@Model.ExamName</h3>

<h4>Exam Paper</h4>
<hr />

@if (Model.Message == "")
{
<form asp-action="AttendExam" asp-controller="Students" method="post">
    <input type="hidden" asp-for="StudentId" />
    @for (var i = 0; i < Model.QnAs.Count(); i++)
    {
        <input type="hidden" asp-for="@Model.QnAs[i].Id" />
        <input type="hidden" asp-for="@Model.QnAs[i].ExamsId" />
        <ul>
            <li type="disc">
                <label for="@Model.QnAs[i].Question">@Model.QnAs[i].Question</label>
            </li>
            <li type="none">
                <select asp-for="@Model.QnAs[i].SelectedAnswer" class="form-control">
                    <option value="1">@Model.QnAs[i].Option1</option>
                    <option value="2">@Model.QnAs[i].Option2</option>
                    <option value="3">@Model.QnAs[i].Option3</option>
                    <option value="4">@Model.QnAs[i].Option4</option>
                </select>
            </li>
        </ul>
    }
    <button type="submit" name="action">Submit</button>
</form>
}
else 
{
    <p style="font-size:30px; color: red; text-align:center;">
        @Model.Message
    </p>
}